*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

#particles-js{
    width: 100%;
    height: 85%;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url("img/background.png");
    background-size: cover;
    background-position: center;
    position: fixed;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    width: auto;
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 50px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    size: auto;
    color: #ffffff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #ffffff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    color: #000000;
}

.topnav-title h1{
    color: #ffffff;
    text-align: center;
    position: relative;
}

.topnav {
    width: 806px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background: transparent;
    overflow: hidden;
    position: relative;
    left: 29%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.usage h1{
    text-align: center;
    font-size: 5px;
}

.topnav-content{
    color: #ffffff;
    margin: 20px auto;
    overflow: hidden;

}

.topnav-content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.topnav-content h1{
    text-align: center;
    text-decoration: #ffffff underline;
    color: #ffffff;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 35px;
}

.topnav-content h2{
    text-align: center;
    color: #ffffff;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
}

.commands{
    top: 200%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    size: auto;
    color: #ffffff;
}

#footer {
    clear: both;
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
    font-size: 70%;
    color: #ffffff;
    left: 50%;
}