*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, sansserif;
}

.logo img{
    float: left;
    width: 100px;
    height: auto;
}

.main{
    max-width: 1990px;
    margin: auto;

}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title2{
    position: absolute;
    top: 53%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.title h1{
    text-align: left;
    color: #fff;
    font-size: 70px;
    overflow: hidden;
}

.title h2{
    color: #fff;
    font-size: 20px;
}

.title h3{
    color: #fff;
    font-size: 18px; 
}

.title2 h1{
    color: #fff;
    font-size: 30px;
}

.title2 h2{
    color: #fff;
    font-size: 20px;
}

.info{
    position: absolute;
    top: 97%;
    left: 91%;
    transform: translate(-50%,-50%);
}

.info h1{
    color: #fff;
    font-size: 15px;
}

.info h2{
    color: #fff;
    font-size: 13px;
}

.botinfo{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.botinfo h1{
    color: #fff;
    font-size: 25px;
}

.botinfo h2{
    color: #fff;
    font-size: 20px;
}

.botinfo h3{
    color: #fff;
    font-size: 15px;
}

.container{
    position: relative;
    width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.container mod{
    color: #fff;
    font-size: 15px;
}

.slidershow{
    width: 900px;
    height: 400px;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 100px;
    height: 20px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }

  .bar:hover{
    background: #fff;
    color: #000;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 800%;
    height: 120%;
    display: flex;
    margin: 0;
    padding: 1;
    color: rgb(255, 255, 255);
  }

  .slides h1{
    color: #fff;
    font-size: 30px;
  }

  .slides h2{
    color: #fff;
    font-size: 15px;
  }

  .slides h3{
    color: #fff;
    font-size: 15px;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -14%;
  }
  #r3:checked ~ .s1{
    margin-left: -33%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  #r6:checked ~ .s1{
    margin-left: -100%;
  }
  #r7:checked ~ .s1{
    margin-left: -120%;
  }
  #r8:checked ~ .s1{
    margin-left: -140%;
  }
  

@keyframes animate{
    3%{ transform: translateX(0); }
    25%{ transform: translateX(0); }
    28%{ transform: translateX(-700px); }
    100%{ transform: translateX(-700px); }
}


header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../small-brain-club.github.io/img/background1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* ---- particles.js container ---- */

#particles-js{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../small-brain-club.github.io/img/background1.png);
  height: 95vh;
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 19px;
    border: 1px solid transparent;
    transition: 0.7s ease-in;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}